<!DOCTYPE html>
<html>

<style>
    

p { color: #7a7c7f; font-size: 40px; font-family: "Libre Baskerville", serif; line-height: 70px; text-align: center; text-shadow: 0 1px 1px #fff; padding-top: 70%; }

.bigger {font-size:200%; color: #ff0000;}

</style>

<head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Bike Stats</title>
    <meta http-equiv="Refresh" content="1">
</head>

<body>


<p>By <b><span class='bigger'>{{num_people}}</span></b> people riding their bikes today...<br>
We've saved <b><span class='bigger'> {{num_emissions}}</span></b> kgs in CO<sub>2</sub> emissions!</p>


</body>
</html>