whiteText {
    color: #FFFFFF;
}

bronzeText {
    color: rgb(191, 102, 40);
}

desTheme * {
    background-color: rgba(255, 255, 255, 0.7);
    color: rgb(191, 102, 40) !important;
}

desTheme {
    background-color: rgba(255, 255, 255, 0.7);
    color: rgb(191, 102, 40);
}